@import "tailwindcss";

body {
  background-color: #07090E;
  color: #cbd5e1;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}